.page{
    background-color:aliceblue;
    width:100%;
    min-height:100vh;
}

.frontpage{
    background-color:rgb(40, 134, 196);
    color:white;
    min-height:80vh;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.frontpage h1{
    font-size:75px;
    font-weight:500;
}

.frontpage p{
    font-size:25px;
    font-weight:100;
}

.aboutpage{
    color:white;
    background-color:aliceblue;
    margin:0px;
    padding-top:5vh;
    padding-bottom:5vh;
    padding-inline:15vw;
    min-height:50vh;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items: flex-start;

}

.aboutpage h1{
    text-align:left;
    color:rgb(28, 24, 24);
    margin-left:0px;
    font-size:40px;
}

.aboutpage hr{
    height:2px;
    background-color:gray;
    width:30%;
    border:none;
    margin:0px;
    margin-top:5px;
}

.aboutpage p{
    margin-top:20px;
    margin-bottom:20px;
    text-align:left;
    color:gray;
}

.secondarypage{
    padding-top:50px;
    background-color:#e6e8f4;
    color:rgb(28, 24, 24);
    min-height:50vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.secondarypage form{
    margin-top:20px;
}

.secondarypage textarea{
    max-width:30vw;
    min-width:30vw;
    max-height:50px;
    min-height:30px;
}

.secondarypage input{
    max-width:29.9vw;
    min-width:29.9vw;
    font-family: monospace;
}

input:focus{
    outline:none;
}
form:focus{
    outline:none;
}

textarea:focus{
    outline:none;
}

textarea{
    font-family:monospace;
}

button{
    background-color:gold;
    font-size:large;
    font-weight:500;
    padding:5px;
    border:none;
    border-radius:5px;
    color:gray;
    transition:0.5s;
}

button:hover{
    border:none;
    background-color:orange;
    color:white;
    cursor:pointer;
    transition:0.5s;
}


.secondarybutton{
    background-color:rgb(40, 134, 196);
    color:white;
    width:max(10vw, 100px);
}

.secondarybutton:hover{
    border:none;
    background-color:white;
    color:rgb(40, 134, 196);
    cursor:pointer;
    transition:0.5s;
}

.custom-btn{
    border-radius: 25px;
    transition: transform .2s; 
}

.custom-btn:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.custom-btn:active {
    transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.custom-btn-two{
    width: 150px;
}